*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


body {
    background-color: rgb(171, 188, 194);
    font-family: 'Dosis', sans-serif;
    margin-left: 600px;
}

.name{
  position: absolute;
  margin-left:169px;
  margin-top: -290;
  color: aliceblue;
  font-family: 'Crimson Text', serif;
}


.secondary{
  position: absolute;
  margin-top: -250px;
  margin-left:194px;
  font-weight: 100%;
  color: aliceblue;
  font-family: 'Crimson Text', serif;
  
}

.bg{
  width: 600;
  position: relative;
  margin-top: -80;

}

.mail{
  position: absolute;
  margin-left: 400px;
  margin-top: -150px;
}

.behance{
  position: absolute;
  margin-left: 428px;
  margin-top: -154px;
  
}

.insta{
  position: absolute;
  margin-left: 460px;
  margin-top: -150px; 
}

.contact{
  position: absolute;
  margin-left: 398px;
  margin-top: -165px;
  font-size: 13px;

}



